*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    height: 100vh;
    background-color: #002339;
}

.container{
    position: relative;
    left: 100px;
    top: 150px;
    height: 400px;
    width: 600px;
    margin: 20px 10px;
}

.container h1{
    color: #fff;
    font-weight: 500;
    font-size: 45px;
}

.container  span{
    color: #019f55;
    border-bottom: 4px solid #019f55 ;
    padding: 7px 0;
    font-weight: 100;
}
.display{
    background-color: #fff;
    width: 100%;
    margin-top: 45px;
    margin-bottom: 30px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}

.display i{
    font-size: 30px;
    cursor: pointer;
}

.display input{
    border: none;
    outline: none;
    font-size: 24px;
}

button{
    border: none;
    outline: none;
    background-color: #019f55;
    color: #fff;
    font-size: 20px;
    padding: 16px 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    border-radius: 5px;
    cursor: pointer;
}

button i{
    margin-right: 7px;
}